In [1]:
import pandas as pd
import numpy as np
import os

#### Add missing chamber temps for 8/4 and 6/28 to main dataframe

In [75]:
ct_path = r'C:\Users\roseh\Desktop\NYBG_R\data\archive\QC2\dnu'
data_path = r'C:\Users\roseh\Desktop\NYBG_R\data'

In [76]:
main = pd.read_csv(os.path.join(data_path,'nybg_all_sentinelndvi.csv'),parse_dates=['date'])

In [77]:
ct_628 = pd.read_csv(os.path.join(ct_path,'20220628_NYBG_7810.csv'),parse_dates=['Date'])
ct_628['Day'] = ct_628['Date'].dt.date.astype('datetime64[ns]')

In [78]:
ct_628.replace('BG_UL3_v2','BG_ML3',inplace=True)
ct_628.replace('BE_SV3','BE_UL3',inplace=True)
ct_628.replace('HL','ML',inplace=True)

In [79]:
ct_84 = pd.read_csv(os.path.join(ct_path,'20220804_NYBG_7810.csv'),parse_dates=['Date'])

In [80]:
ct_84['Day'] = ct_84['Date'].dt.date.astype('datetime64[ns]')

In [81]:
ct_84['Collar'] = ct_84['Collar'].str[:-2]

In [82]:
ct_84.replace('BG_UL3_v2','BG_ML3',inplace=True)
ct_84.replace('BE_SV3','BE_UL3',inplace=True)
ct_84.replace('HL','ML',inplace=True)

In [83]:
ct_84

,Unnamed: 0,Chamber_Temp,CO2_Flux,Collar,Date,Site,Type,Number,Day
0,1,29.47210,6.28635,BE_UL3,2022-08-04 09:17:00,BE,SV,3,2022-08-04
1,2,28.32458,8.45488,BE_Ul2,2022-08-04 09:29:00,BE,Ul,2,2022-08-04
2,3,27.70738,8.84176,BE_UL1,2022-08-04 09:36:00,BE,UL,1,2022-08-04
3,4,31.09890,20.29980,BG_UL3,2022-08-04 09:54:00,BG,UL,3,2022-08-04
4,5,30.06396,8.24220,BT_FE3,2022-08-04 10:14:00,BT,FE,3,2022-08-04
5,6,29.20830,8.33237,BT_FE4,2022-08-04 10:17:00,BT,FE,4,2022-08-04
6,7,28.83876,6.86303,BT_FI4,2022-08-04 10:20:00,BT,FI,4,2022-08-04
7,8,28.38037,10.18177,BT_F3,2022-08-04 10:23:00,BT,F3,3,2022-08-04
8,9,33.85614,31.02989,BR_HL3,2022-08-04 10:47:00,BR,ML,3,2022-08-04
9,10,34.23378,30.83137,BR_HL4,2022-08-04 10:52:00,BR,ML,4,2022-08-04
10,11,35.26250,24.69819,BL_ML1,2022-08-04 11:15:00,BL,ML,1,2022-08-04
11,12,32.42575,8.08219,BL_SV2,2022-08-04 11:25:00,BL,SV,2,2022-08-04
12,13,30.97048,10.38338,BT_FE1,2022-08-04 11:39:00,BT,FE,1,2022-08-04
13,14,30.14052,4.89686,BT_FE2,2022-08-04 11:42:00,BT,FE,2,2022-08-04
14,15,30.24317,10.13877,BT_FI1,2022-08-04 11:45:00,BT,FI,1,2022-08-04
15,16,30.30238,4.37920,BT_FI2,2022-08-04 11:47:00,BT,FI,2,2022-08-04
16,17,36.98685,11.12513,BW_TP4,2022-08-04 12:01:00,BW,TP,4,2022-08-04
17,18,37.47863,12.22531,BW_TP3,2022-08-04 12:04:00,BW,TP,3,2022-08-04
18,19,35.10365,44.61488,BW_TP1,2022-08-04 12:07:00,BW,TP,1,2022-08-04
19,20,34.29131,29.46204,BW_TP2,2022-08-04 12:10:00,BW,TP,2,2022-08-04
20,21,33.53421,27.47449,BW_HL1,2022-08-04 12:13:00,BW,ML,1,2022-08-04
21,22,33.23929,23.48885,BW_HL2,2022-08-04 12:21:00,BW,ML,2,2022-08-04

In [84]:
merge_628 = pd.merge(main, ct_628, how = 'outer', left_on = ['date','Label'], right_on = ['Day', 'Collar'])

In [85]:
merge_both = pd.merge(merge_628, ct_84, how = 'outer', left_on = ['date','Label'], right_on = ['Day', 'Collar'])

In [86]:
merge_628.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 390 entries, 0 to 389
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0_x      387 non-null    float64
 1   date              373 non-null    datetime64[ns]
 2   Label             373 non-null    object
 3   Res               245 non-null    float64
 4   NEE               71 non-null     float64
 5   GEE               77 non-null     float64
 6   PAR               64 non-null     float64
 7   Soil temperature  203 non-null    float64
 8   Soil_moist        204 non-null    float64
 9   type              373 non-null    object
 10  Chamber_Temp_x    196 non-null    float64
 11  sentinel_ndvi     148 non-null    float64
 12  Unnamed: 0_y      22 non-null     float64
 13  Chamber_Temp_y    22 non-null     float64
 14  CO2_Flux          22 non-null     float64
 15  Collar            22 non-null     object
 16  Date              22 non-null     datetime64[ns]
 17  Site              22 non-null     object
 18  Type              22 non-null     object
 19  Number            22 non-null     float64
 20  Day               22 non-null     datetime64[ns]
dtypes: datetime64[ns](3), float64(13), object(5)
memory usage: 67.0+ KB

In [87]:
merge = merge_both[['date','Label','Res','NEE','GEE','PAR','Soil temperature','Soil_moist','type','Chamber_Temp_x','sentinel_ndvi','Chamber_Temp_y','Chamber_Temp']]

In [88]:
merge.loc[merge['date']=='20220628', 'Chamber_Temp_x'] = merge.loc[merge['date']=='20220628', 'Chamber_Temp_y']

In [89]:
merge.loc[merge['date']=='20220804', 'Chamber_Temp_x'] = merge.loc[merge['date']=='20220804', 'Chamber_Temp']

In [90]:
merge.loc[merge['date']=='20220804']

,date,Label,Res,NEE,GEE,PAR,Soil temperature,Soil_moist,type,Chamber_Temp_x,sentinel_ndvi,Chamber_Temp_y,Chamber_Temp
224,2022-08-04,BW_TP1,44.61488,NaN,NaN,NaN,NaN,NaN,TP,35.10365,NaN,NaN,35.10365
225,2022-08-04,BW_TP2,29.46204,NaN,NaN,NaN,NaN,NaN,TP,34.29131,NaN,NaN,34.29131
226,2022-08-04,BW_TP3,12.22531,NaN,NaN,NaN,NaN,NaN,TP,37.47863,NaN,NaN,37.47863
227,2022-08-04,BW_TP4,11.12513,NaN,NaN,NaN,NaN,NaN,TP,36.98685,NaN,NaN,36.98685
228,2022-08-04,BT_FE1,10.38338,NaN,NaN,NaN,NaN,NaN,FE,30.97048,NaN,NaN,30.97048
229,2022-08-04,BT_FE2,4.89686,NaN,NaN,NaN,NaN,NaN,FE,30.14052,0.561,NaN,30.14052
230,2022-08-04,BT_FE3,8.24220,NaN,NaN,NaN,NaN,NaN,FE,30.06396,0.535,NaN,30.06396
231,2022-08-04,BT_FE4,8.33237,NaN,NaN,NaN,NaN,NaN,FE,29.20830,NaN,NaN,29.20830
232,2022-08-04,BT_FI1,10.13877,NaN,NaN,NaN,NaN,NaN,FI,30.24317,0.603,NaN,30.24317
233,2022-08-04,BT_FI2,4.37920,NaN,NaN,NaN,NaN,NaN,FI,30.30238,NaN,NaN,30.30238
234,2022-08-04,BT_FI3,NaN,NaN,NaN,NaN,NaN,NaN,FI,NaN,0.602,NaN,NaN
235,2022-08-04,BT_FI4,6.86303,NaN,NaN,NaN,NaN,NaN,FI,28.83876,NaN,NaN,28.83876
236,2022-08-04,BE_UL1,8.84176,14.11258,5.27082,NaN,NaN,NaN,UL,27.70738,0.502,NaN,27.70738
237,2022-08-04,BE_UL2,NaN,13.11303,NaN,NaN,NaN,NaN,UL,NaN,NaN,NaN,NaN
238,2022-08-04,BG_ML3,20.29980,-6.83684,-27.13664,NaN,NaN,NaN,ML,NaN,0.509,NaN,NaN
239,2022-08-04,BG_UL4,NaN,NaN,NaN,NaN,NaN,NaN,UL,NaN,NaN,NaN,NaN
240,2022-08-04,BL_SV1,NaN,NaN,NaN,NaN,NaN,NaN,SV,NaN,NaN,NaN,NaN
241,2022-08-04,BL_SV2,8.08219,11.54243,3.46024,NaN,NaN,NaN,SV,32.42575,NaN,NaN,32.42575
242,2022-08-04,BE_UL3,6.28635,8.33948,2.05313,NaN,NaN,NaN,UL,29.47210,0.552,NaN,29.47210
243,2022-08-04,BE_SV4,NaN,NaN,NaN,NaN,NaN,NaN,SV,NaN,NaN,NaN,NaN
244,2022-08-04,BL_ML1,24.69819,8.32451,-16.37368,NaN,NaN,NaN,ML,35.26250,0.583,NaN,35.26250
245,2022-08-04,BL_ML2,NaN,NaN,NaN,NaN,NaN,NaN,ML,NaN,NaN,NaN,NaN
246,2022-08-04,BL_ML3,NaN,NaN,NaN,NaN,NaN,NaN,ML,NaN,NaN,NaN,NaN
247,2022-08-04,BL_ML4,NaN,NaN,NaN,NaN,NaN,NaN,ML,NaN,NaN,NaN,NaN
248,2022-08-04,BW_HL1,27.47449,-15.58983,-43.06432,NaN,NaN,NaN,ML,33.53421,0.351,NaN,33.53421
249,2022-08-04,BW_HL2,23.48885,-15.53487,-39.02372,NaN,NaN,NaN,ML,33.23929,NaN,NaN,33.23929
250,2022-08-04,BR_HL3,31.02989,13.77693,-17.25296,NaN,NaN,NaN,ML,33.85614,0.483,NaN,33.85614
251,2022-08-04,BR_HL4,30.83137,NaN,NaN,NaN,NaN,NaN,ML,34.23378,NaN,NaN,34.23378

In [91]:
final = merge[['date','Label','Res','NEE','GEE','PAR','Soil temperature','Soil_moist','type','Chamber_Temp_x','sentinel_ndvi']]

In [92]:
final.rename(columns={'Chamber_Temp_x':'Chamber_Temp'},inplace=True)

C:\Users\roseh\AppData\Local\Temp\ipykernel_13852\3221910814.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final.rename(columns={'Chamber_Temp_x':'Chamber_Temp'},inplace=True)

In [73]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 394 entries, 0 to 393
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              373 non-null    datetime64[ns]
 1   Label             373 non-null    object
 2   Res               245 non-null    float64
 3   NEE               71 non-null     float64
 4   GEE               77 non-null     float64
 5   PAR               64 non-null     float64
 6   Soil temperature  203 non-null    float64
 7   Soil_moist        204 non-null    float64
 8   type              373 non-null    object
 9   Chamber_Temp      214 non-null    float64
 10  sentinel_ndvi     148 non-null    float64
dtypes: datetime64[ns](1), float64(8), object(2)
memory usage: 36.9+ KB

In [93]:
final.to_csv(os.path.join(data_path,'nybg_all_main.csv'))